@import "tailwindcss";

@theme {
  --breakpoint-400: 25rem;
}

@layer utilities {
  .categoryGrid {
    @apply grid w-full gap-2 grid-flow-col 
      auto-cols-[calc((100%/6)-0.49rem)]
      max-lg:auto-cols-[calc((100%/5)-0.4rem)] 
      max-md:auto-cols-[calc((100%/4)-0.38rem)] 
      max-sm:auto-cols-[calc((100%/3)-0.4rem)]
      max-400:auto-cols-[calc((100%/2))];
  }
  .productGrid {
    @apply grid w-full gap-2 grid-flow-col 
      auto-cols-[calc((100%/5)-0.4rem)]
      max-lg:auto-cols-[calc((100%/4)-0.37rem)] 
      max-md:auto-cols-[calc((100%/3)-0.33rem)] 
      max-sm:auto-cols-[calc((100%/2)-0.28rem)]
      max-400:auto-cols-[calc((100%/1))];
  }
  .addProduct {
    @apply mt-1 flex items-center justify-center 
    h-8.75 hover:opacity-85 rounded-sm text-white font-medium transition-all w-full px-0 duration-300 disabled:opacity-90;
  }
  .btnStyles {
    @apply cursor-pointer active:text-white active:border-[#DB4444] active:bg-[#DB4444] hover:text-white flex justify-center items-center h-8 w-8 border border-[#777] hover:bg-[#DB4444] hover:border-[#DB4444] rounded-l-[3px] duration-200;
  }
  .slider.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
