@import "tailwindcss";

@theme {
  --breakpoint-400: 25rem;
}

@layer utilities {
  .categoryGrid {
    @apply grid gap-2 grid-flow-col 
      auto-cols-[calc((100%/6)-0.49rem)]
      max-lg:auto-cols-[calc((100%/5)-0.4rem)] 
      max-md:auto-cols-[calc((100%/4)-0.38rem)] 
      max-sm:auto-cols-[calc((100%/3)-0.4rem)]
      max-400:auto-cols-[calc((100%/2))];
  }
  .productGrid {
    @apply grid gap-2 grid-flow-col 
      auto-cols-[calc((100%/5)-0.4rem)]
      max-lg:auto-cols-[calc((100%/4)-0.37rem)] 
      max-md:auto-cols-[calc((100%/3)-0.33rem)] 
      max-sm:auto-cols-[calc((100%/2)-0.28rem)]
      max-400:auto-cols-[calc((100%/1))];
  }
  .addProduct {
    @apply absolute w-full flex items-center justify-center 
    bottom-[-35px] h-[35px] 
    rounded-b-[4px] transition-[bottom] duration-300 
    bg-black text-white font-medium;
  }
  .btnStyles {
    @apply cursor-pointer active:text-white active:border-[#DB4444] active:bg-[#DB4444] hover:text-white flex justify-center items-center h-8 w-8 border border-[#777] hover:bg-[#DB4444] hover:border-[#DB4444] rounded-l-[3px] duration-200;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
